{% extends 'base.html' %}
{% block content %}
<h1>This is for test(Show Task)</h1>
<div style="width: 80%; margin:auto">
    <h1 class="text-center bg-warning mx-5 p-2">Tasks</h1>
    {% if data %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.task_name}}</td>
                <td>{{item.task_description}}</td>
                <td>{{item.is_completed}}</td>
                <td> <a href="{%url 'delete_task' id=item.id %}" class="btn btn-danger btn-sm">Delete</a> <a
                        href="{%url 'edit_task' id=item.id %}" class="btn btn-primary btn-sm mx-2">Edit</a><a
                        href="{% url 'complete_task' id=item.id %}" class="btn btn-success btn-sm">Complete</a>
                </td>
            </tr>
            {% endfor %}



        </tbody>
    </table>
    {% else %}
    <h3>No data available</h3>
    {% endif %}
</div>
{% endblock %}